<main id="main" data-aos="fade-in">
  <!-- ======= Breadcrumbs ======= -->
  <div class="breadcrumbs">
    <div class="container">
      <h2>SR & BR Section</h2>
      <p>
        WHAT IS SR & BR SECTION IN THREEDOS?
        Power of samurais can be the kindness or wisdom too, you can make your enemies scared from your heart.. from
        your soul, it makes any one bloom like a beautiful flower, and after that, you can grow like a Forest .. </p>
    </div>
  </div><!-- End Breadcrumbs -->
  <!-- ======= Trainers Section ======= -->
  <section id="trainers" class="trainers">
    <div class="container" data-aos="fade-up">
      <div class="row" data-aos="zoom-in" data-aos-delay="100">
        <div class="col-lg-6 col-md-6 d-flex align-items-stretch">
          <div class="member">
            <img src="assets/img2/soull.jpg" class="img-fluid" alt="">
            <div class="member-content">
              <h4>Rokaya Tarek </h4>
              <span>SOUL</span>
              <p>
                We are focusing on the concept of volunteering among youth and we develop the eithcs and morals through
                our community.
              </p>
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-md-6 d-flex align-items-stretch">
          <div class="member">
            <img src="assets/img2/juniors.jpg" class="img-fluid" alt="">
            <div class="member-content">
              <h4>Omar Ali </h4>
              <span>JUNIORS
              </span>
              <p>
                We are Responsible for Developing School students personal skills and Boosting their general knowledge.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section><!-- End Trainers Section -->
</main><!-- End #main -->
