<main id="main">
  <!-- ======= Breadcrumbs ======= -->
  <div class="breadcrumbs" data-aos="fade-in">
    <div class="container">
      <h2> About Us</h2>
      <p>ThreeDOS is a student's not-for-profit organization launched from the faculty of commerce and business
        administration BIS department, Helwan university, which is focusing on three main aspects (SOUL REBUILD - BRAIN
        REFILL _ ACADEMIC COMMITTEE) by which we believe that we can create a generation that will carry on his shoulder
        the renaissance of this country to put it in the place it deserves and lead the developed community .
      </p>
    </div>
  </div><!-- End Breadcrumbs -->
  <!-- ======= About Section ======= -->


  <section id="popular-courses" class="courses">
    <div class="container" data-aos="fade-up">

      <div class="section-title">
        <h2>More About US</h2>
        <p style="color: white;">ThreeDos</p>
      </div>

      <div class="row" data-aos="zoom-in" data-aos-delay="100">

        <div class="col-lg-6 col-md-6 d-flex align-items-stretch">
          <div class="course-item">
            <i class="far fa-lightbulb"></i>
            <div class="course-content">
              <h3><a>Our Vision</a></h3>
              <p>Besides establishing a well based ethical community, Being a leading organization working on creating a
                generation of role models that able to lead the community , which we work on it through our three
                aspects
              </p>
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-md-6 d-flex align-items-stretch mt-4 mt-md-0">
          <div class="course-item">

            <i class="fas fa-chart-line"></i>
            <div class="course-content">
              <h3><a>Our Mission</a></h3>
              <p>Working on individuals is another way to attain our professionalism by developing personal and
                technical
                skills, like leadership and other essential basis will be recorded by focusing and working on our three
                main dimensions ( Soul - Brain - Academic ) in parallel to maintain idealism Promoting the idea of
                development among youth is one of the main purposes that ThreeDOS work for achieving,
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="about" class="about">
    <div class="container" data-aos="fade-up">
      <div class="row">
        <div class="col-lg-5 order-1 order-lg-2" data-aos="fade-left" data-aos-delay="100">
          <img src="assets/img2/soul.jpg" class="img-fluid" alt="">
        </div>
        <div class="col-lg-7 mt-5 pt-4 pt-lg-0 order-2 order-lg-1 content">
          <h2>
            1. SOUL REBUILD
          </h2>
          <p class="font-italic">
            At this aspect we focus on promoting the concept of volunteering among youth and on the development of the
            ethics and morals of upcoming generation to be actively participation in the social life and to make the
            community better.
          </p>

        </div>
      </div>
      <div class="row mt-4">
        <div class="col-lg-5 order-1 order-lg-2" data-aos="fade-left" data-aos-delay="100">
          <img src="assets/img2/brin.jpg" class="img-fluid" alt="">
        </div>
        <div class="col-lg-7 mt-5 pt-4 pt-lg-0 order-2 order-lg-1 content">
          <h2>
            2. Brain Refill
          </h2>
          <p class="font-italic">
            You can NOT create a fully educated generation in the business field without boosting your general knowledge
            limit to the optimum level of awareness of the changeable environment around you. This aspect we are
            adopting the idea of - know everything about something & know something about everything. so we works on
            developing the general knowledge at them By exchange knowledge and experiences with different people from
            all around the worked and also create cultural & historical events in order to boost the internal tourism
            and to maximize the level of awareness about Egypt’s history to upcoming generation as well.

          </p>

        </div>
      </div>
      <div class="row ">
        <div class="col-lg-5 order-1 order-lg-2" data-aos="fade-left" data-aos-delay="100">
          <img src="assets/img2/AC.jpg" class="img-fluid" alt="">
        </div>
        <div class="col-lg-7 mt-5 pt-4 pt-lg-0 order-2 order-lg-1 content">
          <h2>
            3. Academic Committee
          </h2>
          <p class="font-italic">
            At this aspect we believe that each one of us is in a deep need of coping with the recent business updates
            around him. So, we provide a totally modern and interactive academic sessions and workshops in the field of
            business and information technology in order to develop the students’ experiences and personal skills to be
            able to deal effectively in this modern society.
          </p>
        </div>
      </div>
    </div>
  </section>
