<!-- ======= Footer ======= -->
<footer id="footer" class="mt-5">

  <div class="footer-top">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-md-6 footer-contact">
          <h3>ThreeDos</h3>
          <p>
            Address : 45 abou elfada street<br>
            El-zamalk Cairo<br>
            Egypt <br><br>
            <strong>Phone:</strong> 01142468849 <br>
            <strong>Email:</strong> threedos21@gmail.com<br>
          </p>
        </div>
        <div class="col-lg-4 col-md-6 footer-links social-links ">
          <h4>Useful Links</h4>
          <a href="https://www.facebook.com/ThreeDOS.BIS" class="facebook"><i class="bx bxl-facebook"></i></a>
          <a href="https://www.instagram.com/three_dos/" class="instagram"><i class="bx bxl-instagram"></i></a>
          <a href="https://soundcloud.com/threedos-podcast" class="linkedin"><i class="bx bxl-soundcloud"></i></a>
        </div>
        <div class="col-lg-4 text-center col-md-6 footer-links">
          <h4>Our Sponsors</h4>
          <ul>
            <li><img src="assets/img2/amit.png" class="mr-3" style="width:60px" alt=""> <a
                href="https://www.facebook.com/AMIT.Learning/">AMIT Learning</a></li>
            <li> <img src="assets/img2/ebda3.png" class="mr-3" style="width:60px" alt=""> <a
                href="https://www.facebook.com/Ebda3.Spaces">Ebda3</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="container d-md-flex py-4">
    <div class="mr-md-auto text-center text-md-left">
      <div class="copyright">
        &copy; Copyright <strong><span>ThreeDos'21</span></strong>. All Rights Reserved
      </div>
      <div class="credits">
        Design by <a href="https://www.facebook.com/ThreeDOS.BIS">Web Design Council ThreeDos'21 </a>
      </div>
    </div>
  </div>
</footer><!-- End Footer -->
