<section id="about" class="about">
  <div class="container" data-aos="fade-up">

    <div class="row">
      <div class="col-lg-5 order-1 order-lg-2 " data-aos="fade-left" data-aos-delay="100">
        <img src="assets/img2/mrkt2.jpg" class="img-fluid" alt="">
      </div>
      <div class="col-lg-7 pt-4  pt-lg-0 order-2 order-lg-1 content">
        <div class="section-title">
          <p style="color: white;">About Marketing </p>
        </div>
        <h3>
          In Marketing Council, you will be able to understand the market (Marketing & Market research), target the right people (STP), create pricing, distribute and promote your product (Marketing Mix), use the modern marketing tools (Digital Marketing). All of this with some important soft skills that are required in our daily life...
        </h3>
      </div>
    </div>
  </div>
</section><!-- End About Section -->

<!-- ======= Trainers Section ======= -->
<section id="trainers" class="trainers ">
  <div class="container " data-aos="fade-up">
    <div class="row" data-aos="zoom-in" data-aos-delay="100">
      <div class="col-lg-12 col-md-12 ">
        <div class="member">
          <img src="assets/img2/mrkt1.jpg" class="img-fluid" alt="">
          <div class="member-content">
            <h3>FARAH MOHAMED
            </h3>
            <span>MARKETING HEAD
            </span>
          </div>
        </div>
      </div>
    </div>
    <hr style="border: 1px solid gray;">
  </div>
</section><!-- End Trainers Section -->
<main id="main" data-aos="fade-in">

  <!-- ======= Trainers Section ======= -->
  <section id="trainers" class="trainers">
    <div class="container" data-aos="fade-up">
      <div class="row" data-aos="zoom-in" data-aos-delay="100">
        <div class="col-lg-4  d-flex align-items-stretch">
          <div class="member">
            <img src="assets/img2/mrkt3.jpg" class="img-fluid" alt="">
            <div class="member-content">
              <h3>Nada Mostafa
              </h3>
              <span>Instructor
              </span>
            </div>
          </div>
        </div>
        <div class="hr"> </div>
        <div class="col-lg-4  d-flex align-items-stretch">
          <div class="member">
            <img src="assets/img2/mrkt5.jpg" class="img-fluid" alt="">
            <div class="member-content">
              <h3>Nada osama
              </h3>
              <span> Instructor
              </span>
            </div>
          </div>
        </div>
        <div class="hr"> </div>
        <div class="col-lg-4  d-flex align-items-stretch">
          <div class="member">
            <img src="assets/img2/mrkt4.jpg" class="img-fluid" alt="">
            <div class="member-content">
              <h3>MARY NADER
              </h3>
              <span>Instructor</span>
            </div>
          </div>
        </div>

      </div>
    </div>
  </section><!-- End Trainers Section -->
</main><!-- End #main -->
