


<section class="events">

  <div class="container">
    <div class="row">
      <div class="accordion" id="accordionExample">
        <div class="card">
          <div class="card-header" id="headingOne">
            <h2 class="mb-0">
              <button class="btn btn-link btn-block " type="button" data-toggle="collapse" data-target="#collapseOne"
                aria-expanded="false" aria-controls="collapseOne">
                TreeDos From 2012 - 2014<i class="fas fa-chevron-circle-down"></i>
              </button>
            </h2>
          </div>
          <div id="collapseOne" class="collapse " aria-labelledby="headingOne" data-parent="#accordionExample">
            <div class="card-body">
              <div class="media">
                <div class="row">
                  <div class="col-md-4">
                    <img src="assets/img2/img/ev1.jpg" alt="...">
                  </div>
                  <div class="col-md-8">
                    <div class="media-body">
                      <h5>Courses</h5>
                      A New course to teach students how to work on the Android system in partnership with GSA.
                      <hr class="HRsub">
                      Expansion of workshops (CEO) Chief Executive Officer. and increase the number of students and the
                      developmen of content
                      <hr class="HRsub">
                      A New course in (CEO) Chief Executive Officer.
                    </div>
                  </div>
                </div>
              </div>
              <hr class="HRtotal">
              <div class="media">
                <div class="row">
                  <div class="col-md-4"> <img src="assets/img2/img/ev2.jpg" alt="...">
                  </div>
                  <div class="col-md-8">
                    <div class="media-body">
                      <h5 class="mt-0">Charity
                      </h5>
                      Work on blood donation campaign within the college BIS,
                      <hr class="HRsub">
                      (dam lw 3ndk) Awareness campaign about the importance of blood donation.
                      <hr class="HRsub">
                      Have been at the headquarters of the College for several days for(dam lw 3ndk). Covering one of
                      the
                      orphanages after educating members of the activity skills to communicate with children.
                      Ending the project with an orphan day.(The orphanage project.)
                    </div>
                  </div>
                </div>
              </div>

              <hr class="HRtotal">
              <div class="media">
                <div class="row">
                  <div class="col-md-4"> <img src="assets/img2/img/ev3.jpg" class="mr-3" alt="...">
                  </div>
                  <div class="col-md-8">
                    <div class="media-body">
                      <h5 class="mt-0">Other
                      </h5>
                      A visit to the Indian Cultural Center as a cultural step to increase the awareness of young
                      people.
                      <hr class="HRsub">
                      A visit to the pyramids of Giza and wandering among its various features. The closing event of the
                      year under the name of (yankask ayden) And the presence of Dr. / Khaled Abu Shadi, and / Bassem
                      <hr class="HRsub">
                      al-Shamma, and / Mahmoud Darwish, and / Karim Al-Shazly, a / Islam Hajji, and coach / Youssef
                      Dawara.
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="card">
          <div class="card-header" id="headingTwo">
            <h2 class="mb-0">
              <button class="btn btn-link btn-block  collapsed" type="button" data-toggle="collapse"
                data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                TreeDos From 2014 - 2016 <i class="fas fa-chevron-circle-down"></i>
              </button>
            </h2>
          </div>
          <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
            <div class="card-body">
              <div class="media">
                <div class="row">
                  <div class="col-md-4"> <img src="assets/img2/img/ev4.jpg" class="mr-3" alt="...">
                  </div>
                  <div class="col-md-8">
                    <div class="media-body">
                      <h5 class="mt-0">Courses
                      </h5>
                      Workshops to teach students web development skills, lasted for 9 sessions (duration of sessions 6
                      hours) (2014) Workshops to teach students web development skills,
                      A visit to the Indian Cultural Center as a cultural step to increase the awareness of young
                      people.
                      <hr class="HRsub">
                      We held sessions at (Victoria School in Maadi) Worked on the marketing workshops in the
                      field of marketing through 7 sessions explaining the concept of modern marketing and how to study
                      the market and some theories of modern marketing. Conducting workshops in (CEO) Chief Executive
                      Officer.
                      <hr class="HRsub">
                      Through 6 sessions explaining all the requirements that qualify the student to become
                      chairman of the board such as (HR, Marketing, Supply chain, sales, finance).
                      <hr class="HRsub">
                      Islam Refaat, the CEO of
                      the company heaters, which was practical under its supervision A new project has been created
                      (juniors) .
                    </div>
                  </div>
                </div>
              </div>
              <hr class="HRtotal">
              <div class="media">
                <div class="row">
                  <div class="col-md-4"> <img src="assets/img2/img/ev5.jpg" class="mr-3" alt="...">
                  </div>
                  <div class="col-md-8">
                    <div class="media-body">
                      <h5 class="mt-0">charity
                      </h5>
                      Achieve 3 months of continuous work on educating children in several orphanages
                      A ceremony for the children of Hospital 57357 in cooperation with the General Library of Egypt.
                      <hr class="HRsub">
                      Organizing the Children’s Day event in cooperation with the corporation of Egypt Public Library.
                      Finally,
                      <hr class="HRsub">
                      the blood donation campaign within the College BIS in collaboration with (Ressala
                      Charity) and the number of donors more than 250 donors.
                      <hr class="HRsub">
                      “2l dafa 3afa” is his campaign to collect blankets, 100 blankets were purchased and distributed to
                      100 families in the Duweika area before the winter of 2015.
                    </div>
                  </div>
                </div>
              </div>
              <hr class="HRtotal">
              <div class="media">
                <div class="row">
                  <div class="col-md-4"> <img src="assets/img2/img/ev6.jpg" class="mr-3" alt="...">
                  </div>
                  <div class="col-md-8">
                    <div class="media-body">
                      <h5 class="mt-0">Events
                      </h5>
                      Members’ opening was at the Library of Egypt Dokki.
                      welcomed delegates (center of the cultural quarter in Hussein), and this link to the cultural
                      side.
                      The opening of the new members (held at EL Kasr Eleiny Medical College) in the presence of
                      vocalist “Mustafa Abu Rawash"
                      <hr class="HRsub">
                      providing job opportunities for students and
                      graduates. The establishment of a big event called (dma8k bkam) revolves around marketing skills
                      in partnership with Euphoria and several student activities at Cairo University.
                      <hr class="HRsub">
                      In the presence
                      of a group of specialists in the field of marketing.
                      <hr class="HRsub">
                      Under the supervision of the company
                      (E-marketing)
                      <hr class="HRsub">
                      opening was at the conference hall of the Syndicate of Applied in the presence of Mr. /
                      Karim Ismail, as one of the trainers in the field of human development Job fair of more than 15
                      companies, including: EVO, Seif Group and other companies in the BIS Faculty of Commerce and
                      Business Administration, Zamalek Helwan University,
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header" id="headingThree">
            <h2 class="mb-0">
              <button class="btn btn-link btn-block collapsed" type="button" data-toggle="collapse"
                data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                TreeDos From 2016 - 2018 <i class="fas fa-chevron-circle-down"></i>
              </button>
            </h2>
          </div>
          <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
            <div class="card-body">
              <div class="media">
                <div class="row">
                  <div class="col-md-4"> <img src="assets/img2/img/ev8.jpg" class="mr-3" alt="...">
                  </div>
                  <div class="col-md-8">
                    <div class="media-body">
                      <h5 class="mt-0">2016-2017
                      </h5>
                      Delegates’ opening was held at (2l m2wleen 2l 3rb club)
                      Members’ opening was held at (2l rab3 2l skafy 2l hussien)
                      Internship for best members of each committee at Smart land company.
                      <hr class="HRsub">
                      they work on it at the end of the sessions under the
                      supervision of Mr./Islam Refaat, the CEO of the company heaters, to allow the students to practice
                      on real-life work.
                      <hr class="HRsub">
                      Through 6 sessions explaining all the requirements that qualify the student to become
                      chairman of the board such as (HR, Marketing, Supply chain, sales, finance).
                      <hr class="HRsub">
                      There were eight sessions for AC councils (CEO, Marketing, web design and web development).
                      AC conference for delegates about real case,
                    </div>
                  </div>
                </div>
              </div>
              <hr class="HRtotal">
              <div class="media">
                <div class="row">
                  <div class="col-md-4"> <img src="assets/img2/img/ev9.jpg" class="mr-3" alt="...">
                  </div>
                  <div class="col-md-8">
                    <div class="media-body">
                      <h5 class="mt-0">2017-2018
                      </h5>
                      Visit for 57357 hospital.
                      <hr class="HRsub">
                      Visit for Bahya’s hospital.
                      <hr class="HRsub">
                      “Share Happiness” Event for orphans.
                      <hr class="HRsub">
                      New council (stock market council).
                      <hr class="HRsub">
                      Delegates’ opening was held at Ramses Collage.
                      <hr class="HRsub">
                      (w yt3moon 2l t3am) Ramdan bags packing event.
                      <hr class="HRsub">
                      Members’ opening was held at Cairo library Zamalek.
                      <hr class="HRsub">
                      Our Catering Sponsors was (Bread and Butter) and (Yumamia).
                      There was media coverage like: Veto, El Gomhuria, Cairo dar and El youm Elsab3.
                      <hr class="HRsub">
                      Six sessions in all councils (Stock market, Marketing, CEO, web design, and web development).
                      (hya ) Event was held at Conrad Cairo hotel in corporation with Bahya’s hospital for breast cancer
                      Awareness.
                      <hr class="HRsub">
                      AC conference (It was a real case about Plan B hotel) they worked on it at the end of the sessions
                      under the supervision of Mr./ Wael the owner of the Hotel.
                      Establish your Career job fair of more than companies such as at BIS Faculty of Commerce and
                      Business Administration, Zamalek Helwan University, providing job opportunities for students and
                      graduates.
                      <hr class="HRsub">
                      OC conference (the members classified into teams each team was consist of one or two members from
                      each committee, those teams were responsible for getting creative ideas for startup companies and
                      implement what they learned during the year, at the end they were discussed their projects in
                      front of judgmental committee.

                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header" id="headingThree">
            <h2 class="mb-0">
              <button class="btn btn-link btn-block collapsed" type="button" data-toggle="collapse"
                data-target="#collapseFour" aria-expanded="false" aria-controls="collapseThree">
                TreeDos From 2018 - 2020 <i class="fas fa-chevron-circle-down"></i>
              </button>
            </h2>
          </div>
          <div id="collapseFour" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
            <div class="card-body">
              <div class="media">
                <div class="row">
                  <div class="col-md-4"> <img src="assets/img2/img/ev11.jpg" class="mr-3" alt="...">
                  </div>
                  <div class="col-md-8">
                    <div class="media-body">
                      <h5 class="mt-0">Courses
                      </h5>
                      Organizers at Egypt Career Summit.
                      <hr class="HRsub">
                      New councils (English Club), (Cyber security).
                      <hr class="HRsub">
                      Members’ opening was held at Career Gates, Delegates’ opening was held at Safir Hotel. The TV
                      interview with the first-channel of Egypt on (Good morning Egypt)
                      <hr class="HRsub">and talked about our student
                      activity and our 3 dimensions of success Establish your Career job fair of more than companies
                      such as at BIS Faculty of Commerce and Business Administration, Zamalek Helwan University,
                      providing job opportunities for students and graduates.
                      <hr class="HRsub"> AC conference (It was a real case about
                      pegasus compan for market research - el badr company for manufacturing - route - it share ) they
                      worked on it at the end of the sessions under the supervision of the owners OC conference (the
                      members
                      <hr class="HRsub"> classified into teams each team was consist of one or two members from each
                      committee,
                      those teams were responsible for
                      <hr class="HRsub"> getting creative ideas for startup companies and implement what
                      they learned during the year, at the end they were discussed their projects in front of judgmental
                      committee.
                      Visit for Bahya’s hospital.

                    </div>
                  </div>
                </div>
              </div>
              <hr class="HRtotal">
              <div class="media">
                <div class="row">
                  <div class="col-md-4"> <img src="assets/img2/img/ev10.jpeg" class="mr-3" alt="...">
                  </div>
                  <div class="col-md-8">
                    <div class="media-body">
                      <h5 class="mt-0">Charity
                      </h5>
                      Visit for 57357 hospital.
                      <hr class="HRsub">
                      Visit for Bahya’s hospital.
                      <hr class="HRsub">

                      Event for orphans. (عطائك دفئ)
                      <hr class="HRsub">

                      Ramadan bags packing event. (مما تحب)
                      <hr class="HRsub">

                      (Protea) Event was held at Conrad Cairo hotel in corporation with Bahya’s hospital for breast
                      cancer Awareness.
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
