<main id="main" data-aos="fade-in">
  <!-- ======= Breadcrumbs ======= -->
  <div class="breadcrumbs">
    <div class="container">
      <h2> HR & D Section</h2>
      <p>
        WHAT IS HR & D SECTION IN THREEDOS?
        Every Story of them make you fly in legislation and ethics of samurai's world, the depth of the ocean has
        created the streamlined of sword, That makes you accept the difference and deal with that effectively, Dream in
        blue..
      </p>
    </div>
  </div><!-- End Breadcrumbs -->
  <!-- ======= Trainers Section ======= -->
  <section id="trainers" class="trainers">
    <div class="container" data-aos="fade-up">
      <div class="row" data-aos="zoom-in" data-aos-delay="100">
        <div class="col-lg-6 col-md-6 d-flex align-items-stretch">
          <div class="member">
            <img src="assets/img2/hr.jpg" class="img-fluid" alt="">
            <div class="member-content">
              <h4>Basmala Sabry </h4>
              <span>HUMAN RESOURCES </span>
              <p>
                We are responsible for recruitment process, Conducting interviews, Members development and maintaining a
                good spirit within the crew.
              </p>
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-md-6 d-flex align-items-stretch">
          <div class="member">
            <img src="assets/img2/qm.jpg" class="img-fluid" alt="">
            <div class="member-content">
              <h4>Nour El-hussiny </h4>
              <span>QUALITY MANAGEMENT</span>
              <p>
                We are Responsible for the standards creation and implementaion for event, evaluating the output and
                taking feedbacks to improve the performance. </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section><!-- End Trainers Section -->

</main><!-- End #main -->
