<nav class="navbar navbar-expand-lg fixed-top mb-5">
  <a class="navbar-brand" routerLink="/home">
    <a class="logo mr-auto"><img src="assets/img2/3d.png" alt="" class="img-fluid"></a>
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <!-- <span class="navbar-toggler-icon"></span> -->
    <i class="icofont-navigation-menu " style="color: white; font-size: 30px;"></i>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto mr-5">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/home">Home </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/about">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/events">Events</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          Council
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" style="color: black;" routerLink="CEO">CEO</a>
          <a class="dropdown-item" style="color: black;" routerLink="marketing">Marketing</a>
          <a class="dropdown-item" style="color: black;" routerLink="stock">Stock Market</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" style="color: black;" routerLink="webDevelop">Web Development</a>
          <a class="dropdown-item" style="color: black;" routerLink="webDesign">Web Design</a>
          <a class="dropdown-item" style="color: black;" routerLink="cyber">Cyber scurity</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
         Sections
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" style="color: black;" routerLink="/HRD">HR & D</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" style="color: black;" routerLink="/operation">Operation </a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" style="color: black;" routerLink="/SRBR">SR & BR  </a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" style="color: black;" routerLink="/multimedia">Multimedia  </a>
        </div>
      </li>
    </ul>

  </div>
</nav>
