<section id="about" class="about">
  <div class="container" data-aos="fade-up">

    <div class="row">
      <div class="col-lg-5 order-1 order-lg-2 " data-aos="fade-left" data-aos-delay="100">
        <img src="assets/img2/ceo2.jpg" class="img-fluid" alt="">
      </div>
      <div class="col-lg-7 pt-4  pt-lg-0 order-2 order-lg-1 content">
        <div class="section-title">
          <p style="color: white;">About CEO </p>
        </div>
        <h3> In CEO Council, you will learn how to be a CEO "Chief Executive Officer" and how to create or develop idea
          for a new startup and operate it from A to Z by learning how to raise fund for your project and create
          business model and how to grow your business with Human Resources, Marketing, Finance, Logistics and Supply
          Chain. All of this with some important soft skills that are required in our daily life...
        </h3>
      </div>
    </div>
  </div>
</section><!-- End About Section -->

<!-- ======= Trainers Section ======= -->
<section id="trainers" class="trainers ">
  <div class="container " data-aos="fade-up">
    <div class="row" data-aos="zoom-in" data-aos-delay="100">
      <div class="col-lg-12 col-md-12 ">
        <div class="member">
          <img src="assets/img2/ceo3.jpg" class="img-fluid" alt="">
          <div class="member-content">
            <h3> Hossan Hassan </h3>
            <span>CEO HEAD </span>
          </div>
        </div>
      </div>
    </div>
    <hr style="border: 1px solid gray;">
  </div>
</section><!-- End Trainers Section -->
<main id="main" data-aos="fade-in">

  <!-- ======= Trainers Section ======= -->
  <section id="trainers" class="trainers">
    <div class="container" data-aos="fade-up">
      <div class="row" data-aos="zoom-in" data-aos-delay="100">
        <div class="col-lg-3  d-flex align-items-stretch">
          <div class="member">
            <img src="assets/img2/ceo4.jpg" class="img-fluid" alt="">
            <div class="member-content">
              <h3>Samar Tageldin
              </h3>
              <span>Instructor
              </span>
            </div>
          </div>
        </div>
        <div class="hr"> </div>
        <div class="col-lg-3  d-flex align-items-stretch">
          <div class="member">
            <img src="assets/img2/ceo5.jpg" class="img-fluid" alt="">
            <div class="member-content">
              <h3>Rania Sherif
              </h3>
              <span> Instructor
              </span>
            </div>
          </div>
        </div>
        <div class="hr"> </div>
        <div class="col-lg-3  d-flex align-items-stretch">
          <div class="member">
            <img src="assets/img2/ceo6.jpg" class="img-fluid" alt="">
            <div class="member-content">
              <h3>MARIEM EL-SAKET
              </h3>
              <span>Instructor</span>
            </div>
          </div>
        </div>
        <div class="hr"> </div>
        <div class="col-lg-3 d-flex align-items-stretch">
          <div class="member">
            <img src="assets/img2/ceo7.jpg" class="img-fluid" alt="">
            <div class="member-content">
              <h3>MERIHAN MEDHAT </h3>
              <span>Instructor
              </span>
            </div>
          </div>
        </div>
        <div class="hr"> </div>
      </div>
    </div>
  </section><!-- End Trainers Section -->
</main><!-- End #main -->
