<main id="main" data-aos="fade-in">
  <!-- ======= Breadcrumbs ======= -->
  <div class="breadcrumbs">
    <div class="container">
      <h2> Multimedia Section</h2>
      <p>
        WHAT IS MULTIMEDIA SECTION IN THREEDOS?
        The breakout of the fire wasn't accidental and didn't ignite by one thing, It has an inspiration and carefulness
        in the way of the breakout, sword of fire can be like your Fiction, It's the power that express your thought,
        Red is your space..
      </p>
    </div>
  </div><!-- End Breadcrumbs -->
  <!-- ======= Trainers Section ======= -->
  <section id="trainers" class="trainers">
    <div class="container" data-aos="fade-up">
      <div class="row" data-aos="zoom-in" data-aos-delay="100">
        <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
          <div class="member">
            <img src="assets/img2/graphic.jpg" class="img-fluid" alt="">
            <div class="member-content">
              <h4>Mohamed Madhat
              </h4>
              <span>GRAPHIC DESIGN
              </span>
              <p>
                We are responsible for any design whether online or offline, also designing our products, creating and
                editing videos.
              </p>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
          <div class="member">
            <img src="assets/img2/media.jpg" class="img-fluid" alt="">
            <div class="member-content">
              <h4>Adham Ahmed </h4>
              <span>MEDIA</span>
              <p>
                We are responsible for covering threedos events with pictures and learning Videography .

              </p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
          <div class="member">
            <img src="assets/img2/social.jpg" class="img-fluid" alt="">
            <div class="member-content">
              <h4>Malak Hisham </h4>
              <span>SOCIAL MEDIA MARKETING
              </span>
              <p>
                We are responsible for marketing threedos through social media and Managing all Threedos Platforms.

              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section><!-- End Trainers Section -->

</main><!-- End #main -->
