<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex text-center justify-content-center align-items-center">
  <div class="container position-relative" data-aos="zoom-in" data-aos-delay="100">
    <h1>WE ARE THE GAME CHANGERS
    </h1>
    <a routerLink="/about" class="btn-get-started">Get Started</a>
  </div>
</section><!-- End Hero -->
<main id="main">

  <!-- ======= About Section ======= -->
  <section id="about" class="about">
    <div class="container" data-aos="fade-up">
      <div class="section-title">
        <h2 style="color: white;">About</h2>
        <p style="color: white;">About Us</p>
      </div>
      <div class="row">
        <div class="col-lg-5 order-1 order-lg-2 " data-aos="fade-left" data-aos-delay="100">
          <img src="assets/img2/3d2.png" class="img-fluid" alt="">
        </div>
        <div class="col-lg-6 pt-4  pt-lg-0 order-2 order-lg-1 content">
          <h3> ThreeDOS is a student's not-for-profit organization launched from the faculty of commerce and business
            administration BIS department, Helwan university, which is focusing on three main aspects by which we
            believe that we can create a generation that will carry on
            his shoulder the renaissance of this country to put it in the place it deserves and lead the developed
            community..
          </h3>
          <p class="font-italic">
            Three main aspects (SOUL REBUILD - BRAIN REFILL _ ACADEMIC COMMITTEE)
          </p>
          <ul>
            <li><i style="color: white;" class="icofont-check-circled"></i> SOUL REBUILD</li>
            <li><i style="color: white;" class="icofont-check-circled"></i> BRAIN REFILL</li>
            <li><i style="color: white;" class="icofont-check-circled"></i> ACADEMIC COMMITTEE</li>
          </ul>
          <a routerLink="/about" class="learn-more-btn">Learn More</a>
        </div>
      </div>
    </div>
  </section><!-- End About Section -->




</main><!-- End #main -->
