<main id="main" data-aos="fade-in">
  <!-- ======= Breadcrumbs ======= -->
  <div class="breadcrumbs">
    <div class="container">
      <h2> Operation Section
      </h2>
      <p>
        WHAT IS OPERATION SECTION IN THREEDOS?
        The sword of storms can make Miracles and make it real, storms make the ground Reconstruction for the
        continuation of life, Sword prevent the obstacles, make you deter enemies proudly, so we can't live without
        operation, we can't live without the power of white..
      </p>
    </div>
  </div>
  <!-- End Breadcrumbs -->
  <!-- ======= Trainers Section ======= -->
  <section id="trainers" class="trainers">
    <div class="container" data-aos="fade-up">
      <div class="row" data-aos="zoom-in" data-aos-delay="100">
        <div class="col-lg-6 col-md-6 d-flex align-items-stretch">
          <div class="member">
            <img src="assets/img2/fr4.jpg" class="img-fluid" alt="">
            <div class="member-content">
              <h4>Shahanda Osama </h4>
              <span>FUNDRAISING</span>
              <p>

                Fundraising Members are responsible for maintaining sponsors, getting fund for Threedos events,
                and making deals with companies. </p>
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-md-6 d-flex align-items-stretch">
          <div class="member">
            <img src="assets/img2/org1.jpg" class="img-fluid" alt="">
            <div class="member-content">
              <h4>Omnia Mohamed </h4>
              <span>ORGANIZING & EVENT PLANNING

              </span>
              <p>
                Organizing and Events Planning Members are responsible for Organizing any event in three dos and
                preparing
                for outings and trips for committees to raise the spirit of ThreeDOS. </p>
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-md-6 d-flex align-items-stretch">
          <div class="member">
            <img src="assets/img2/coor1.jpg" class="img-fluid" alt="">
            <div class="member-content">
              <h4>Yara Essam </h4>
              <span>COORDINATION & LOGISTICS
              </span>
              <p>
                Coordination & logistics Members are responsible for preparing giveaways and decorating all events
                and get anything required to make the event successful. </p>
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-md-6 d-flex align-items-stretch">
          <div class="member">
            <img src="assets/img2/PR.jpg" class="img-fluid" alt="">
            <div class="member-content">
              <h4>
                Head : Esraa Mahmoud <br>
                Vice : Marina Fouad
              </h4>
              <span>PUBLIC RELATIONS
              </span>
              <p>
                Public Relations Members are responsible for Ushering and organizing offline campaigns,They also Contact
                speakers for events,and media coverage.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section><!-- End Trainers Section -->

</main><!-- End #main -->
